<main>
  <h3>設定画面です</h3>
  <div>やること</div>
  <ul>
    <li>iPhoneのフォトライブラリから写真を選択することができる。</li>
    <p>基本的にiPhoneのトップ画面を模倣する</p>
    <li>設定は以上。</li>
    <p>あとは、音声認識で取得したカードを、模倣した画像に表示させることができます。</p>
  </ul>
  <%= link_to "パフォーマンスを実行！", tricks_path, class:'aaa' %>

</main>
