<main>
  <h3>パフォーマンスのページです</h3>
  <div id="image">
  </div>
    <%= link_to "設定画面へ", :back , class:'aaaaa'%>
  <%# <%= button_to "ボタン", {controller: 'tricks', action: 'index'}, {method: :get} %>

</main>
